<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>TigerBuilds by TigerBuilds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/github-light.css" media="screen">
  </head>
  <body>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  {% if success %}
    <p class=success><strong>{{ success }}</strong>
  {% endif %}
    <section class="page-header">
      <!--<h1 class="project-name">TigerBuilds</h1> -->
      <img src="https://raw.githubusercontent.com/TigerBuilds/LandingPage/master/TigerBuildsLogo.png" alt="TigerBuilds Logo" style="max-width: 100%;">
      <h2 class="project-tagline"></h2>
      <a href="#apply-to-event" class="btn">Apply Today</a>
      <a href="#about-the-event" class="btn">About</a>
      <a href="#sponsors" class="btn">Sponsors</a>
      <a href="#contact" class="btn">Contact</a>
    </section>

    <section class="main-content">


<section name="about-the-event" id="about-the-event">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h3 >About the event</h3>

<p>The goal of this event is to promote the growth of problem solving skills and the collaboration among engineering students of all disciplines to solve real world problems. Very few events like this exist and it would be overwhelmingly beneficial not only to Mizzou engineering students but also to Mizzou’s College of Engineering and companies looking to find students who are interested in personal growth in the engineering field and interested in tackling important engineering problems.</p>

<p>TigerBuilds is a one day event on April 23. The event will begin with check-in at 8:00am on Saturday morning. Participants will then be given an introduction to the event providing a framework and the goals of the event. Participants will then break into teams of fellow engineering students (of any engineering discipline). </p>

<p>Once teams are formed they will then proceed to research common problems within industries/problem areas which include (but are not limited to) education, communication, transportation, water drought/conservation, disaster response/assistance, and crime monitoring/prevention. Sponsoring companies may also provide problems specific to their respective fields of work for participants to solve. Teams will have roughly a day to research, engineer, and develop their solutions within their diverse teams. Judging of solutions will be done by Mizzou Engineering professors and sponsor company volunteers. </p>

<p>After judging ensues prize-winning solutions will be announced and teams will have the opportunity to present their solutions and collaborate further among members of different teams, faculty, and company representatives. This event has the potential to bring the benefits of already widely existing computer science Hack-a-thons to all disciplines of engineering. Furthermore, and most importantly, TigerBuilds provides students the opportunity to work across engineering disciplines while fostering an environment for innovative thinking. </p>

</section>

<section name="apply-to-event" id="apply-to-event">
<h3 name="apply-to-event" >Apply Today!</h3>
<div id="login-form-rapper" align="center">
  <form align="center" id="ap-form" action="/login" method="post"  enctype="multipart/form-data" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please fill out the following information:<br>
          First Name<br>
          {{ form.first_name(size=80) }}<br>
          Last Name<br>
          {{ form.last_name(size=80) }}<br>
          Email<br>
          {{ form.email(size=80) }}<br>
          Upload your resume (PDF only)<br>
          {{form.resume}}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>

      <p><input type="submit" value="Sign In"></p>
  </form>

</div>
</section>



<section name="sponsors" id="sponsors">
<h3 ><span aria-hidden="true" class="octicon octicon-link"></span>Sponsorship Information</h3>
To get all that you possibly can out of TigerBuilds:
<p><strong>Send company swag</strong> - Participants love laptop stickers, t-shirts, keychains, and anything else you want to give! This builds your brand recognition and makes the participants happy.</p>
<p><strong>Bring company mentors</strong> - Participants will occasionally need help. Having a mentor there to answer any questions and build a positive relationship will be greatly appreciated by them.</p>
<p><strong>Award your own prize</strong> - A hackathon is, at its core, a competition among the participants. Your own branded prize will promote your brand and allow you to see the competitors at their finest.</p>


<div id="pricing-table" class="clear">
    <div class="plan" id="most-popular">
        <h3>Base Sponsor <b>(Required)</b><span>$500</span></h3>
        <ul>
            <li>Logo on Website<b> Included</b></li>
            <li>Thanked at Kick-off and Closing<b> Included</b></li>
            <li>Technical Mentor at Event<b> Included</b></li>
            <li>Give Away Sponsor Prize<b> Included</b></li>
            <li>Distribute Swag<b> Included</b></li>
        </ul>
    </div>

    <div class="plan">
        <h3>General</h3>
        <ul>
            <li>General Blurb in Program<b> $250</b></li>
            <li>Designated Table<b> $500/day</b></li>
            <li>Co-Host (Limit 1)<b>  $4000</b></li>
        </ul>
    </div>

    <div class="plan">
        <h3>Branding</h3>
        <ul>
            <li>Logo on T-shirt<b> $500</b></li>
            <li>Tech Talk/Info Session<b> $500</b></li>
        </ul>
    </div>
    <div class="plan">
        <h3>Recruiting</h3>
        <ul>
            <li>Recruiting on Site<b> $250/Recruiter</b></li>
            <li>Access to Resumes, LinkedIn, Github<b> $500</b></li>
            <li>Access to Interview Space During Event<b> $500/4 Hours</b></li>
        </ul>
    </div>
</div>
</section>


<section name="contact" id="contact">
<h3><span aria-hidden="true" class="octicon octicon-link"></span>Contact Information</h3>
<p>**If you have any questions concerning the event or if you would like to sponsor or volunteer at TigerBuilds, please contact Jake Sanders (<a href="mailto:jsr6d@mail.missouri.edu">jsr6d@mail.missouri.edu</a>) or Sam Kreter (<a href="mailto:sakfy6@mail.missouri.edu">sakfy6@mail.missouri.edu</a>).</p>
</section>

<section name="footer">
<footer class="site-footer">
  <span class="site-footer-owner"><a href="https://github.com/TigerBuilds/LandingPage">TigerBuilds</a> is maintained by <a href="https://github.com/samkreter">Mizzou Computing Association and Engineering Without Borders</a>.</span>

  <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
</footer>
</section>


  </body>
</html>
